%h1
  Edit organisation
  = surround '(', ')' do
    = @organisation.state

%p
  Publisher:
  = @organisation.publisher

= simple_form_for @organisation,
  html: { class: 'ui form' },
  defaults: { wrapper_html: { class: 'field' } } do |f|

  = f.input :organisation_identifier
  = f.input :name
  = f.input :org_type, as: :select, collection: Organisation::ORG_TYPE
  = f.input :charity_number
  = f.input :company_number
  = f.input :organisation_number
  = f.input :country_id, as: :select, collection: Country.order(:name).group(:id, :name)
  = f.input :multi_national, as: :radio_buttons, collection: [true, false]
  = f.input :street_address
  = f.input :city
  = f.input :region
  = f.input :postal_code
  = f.input :website

  = f.button :submit, (@organisation.approved? ? 'Save' : 'Save & Approve'), class: 'ui button teal'
