%h1 Review organisations

- if Organisation.import.count > 0
  = link_to 'Scrape 10 organisations', scrape_organisations_path, method: :patch, class: 'waves-effect waves-light btn'

%table
  %thead
    %tr
      - if Organisation.import.count > 0
        %th
          Import
          = surround '(', ')' do
            = Organisation.import.count
      %th
        Review
        = surround '(', ')' do
          = Organisation.review.count
  %tbody
    - @organisations.each do |org|
      %tr
        - if org.state == 'import'
          - if Organisation.import.count > 0
            %td= org.name
          %td
          %td
        - elsif org.state == 'review'
          - if Organisation.import.count > 0
            %td
          %td= link_to org.name, edit_organisation_path(org)
          %td
