%h1 Review organisations

- if Organisation.import.count > 0 && current_user.admin?
  .ui.row
    = form_tag scrape_organisations_path, method: :patch
    .ui.left.action.right.labeled.input
      = button_tag 'Scrape', class: 'ui teal button'
      = number_field_tag :review, '10', min: 1, max: 100
      .ui.basic.label
        organisations

%table.ui.celled.table
  %thead
    %tr
      - if Organisation.import.count > 0 && current_user.admin?
        %th
          Import
          = surround '(', ')' do
            = Organisation.import.count
      %th
        Review
        = surround '(', ')' do
          = Organisation.review.count
  %tbody
    - @organisations.each do |org|
      %tr
        - if current_user.admin?
          - if org.state == 'import' && current_user.admin?
            - if Organisation.import.count > 0
              %td= org.name
            %td
          - elsif org.state == 'review'
            - if Organisation.import.count > 0
              %td
            %td.selectable.warning= link_to org.name, edit_organisation_path(org)
        - elsif org.state == 'review'
          %td.selectable.warning= link_to org.name, edit_organisation_path(org)
