= javascript_include_tag 'grants'

%h1
  Edit grant
  = surround '(', ')' do
    = @grant.state

Errors
- @grant.errors.full_messages.each do |msg|
  %li= msg

= simple_form_for @grant,
  html: { class: 'ui form' },
  defaults: { wrapper_html: { class: 'field' } } do |f|

  %h4 Grant
  = f.input :year, collection: Grant::VALID_YEARS
  = f.association :funder, as: :select, label_method: :name
  = f.association :recipient, as: :select, label_method: :name
  = f.input :grant_identifier
  = f.input :title
  = f.input :description, as: :text, input_html: { rows: 2 }
  = f.input :currency, as: :select, collection: Country.order(:currency_code).pluck(:currency_code).uniq
  = f.input :funding_programme
  = f.input :amount_awarded
  = f.input :amount_applied_for
  = f.input :amount_disbursed
  = f.input :award_date, as: :string
  = f.input :planned_start_date, as: :string
  = f.input :planned_end_date, as: :string
  = f.input :open_call, as: :select, collection: [true, false]
  = f.input :type_of_funding, as: :radio_buttons, collection: Grant::FUNDING_TYPE

  %h4 Organisation
  = f.input :operating_for, as: :radio_buttons, collection: Grant::OPERATING_FOR
  = f.input :income, as: :radio_buttons, collection: Grant::INCOME
  = f.input :spending, as: :radio_buttons, collection: Grant::INCOME
  = f.input :employees, as: :radio_buttons, collection: Grant::EMPLOYEES
  = f.input :volunteers, as: :radio_buttons, collection: Grant::EMPLOYEES

  %h4 Beneficiaries
  = f.input :affect_people, as: :radio_buttons, collection: [true, false]
  #affect_people_container.field{ class: ('hidden' unless  @grant.affect_people?) }
    = f.input :gender, as: :radio_buttons, collection: Grant::GENDERS
    = f.association :age_groups, as: :check_boxes, collection: AgeGroup.pluck(:label, :id)
    = f.association :beneficiaries, as: :select, collection: Beneficiary.people.pluck(:label, :id), input_html: { multiple: true, id: 'beneficiary_people', class: 'ui fluid search dropdown' }
  = f.input :affect_other, as: :radio_buttons, collection: [true, false]
  #affect_other_container.field{ class: ('hidden' unless  @grant.affect_other?) }
    = f.association :beneficiaries, as: :select, collection: Beneficiary.other.pluck(:label, :id), input_html: { multiple: true, id: 'beneficiary_other', class: 'ui fluid search dropdown' }

  %h4 Location
  = f.input :geographic_scale, as: :radio_buttons, collection: Grant::GEOGRAPHIC_SCALE
  = f.association :countries, as: :select, collection: Country.pluck(:name, :id), input_html: { multiple: true, class: 'ui fluid search dropdown'}
  = @grant.recipient.scrape['data']['regions'] if @grant.recipient.scrape.keys.count > 0
  = f.association :districts, as: :select, collection: District.districts_options, input_html: { multiple: true, class: 'ui fluid search dropdown'}

  = f.button :submit, (@grant.approved? ? 'Save' : 'Save & Approve'), class: 'ui button teal'
