%h1 Review grants

- if Grant.import.count > 0 && current_user.admin?
  .ui.row
    .ui.left.action.right.labeled.input
      = link_to 'Auto-review', scrape_grants_path, method: :patch, class: 'ui teal button'
      %input{type: 'number', value: 10}
        .ui.basic.label
          grants

%table.ui.celled.table
  %thead
    %tr
      - if Grant.import.count > 0 && current_user.admin?
        %th
          Import
          = surround '(', ')' do
            = Grant.import.count
      %th
        Review
        = surround '(', ')' do
          = Grant.review.count
  %tbody
    - @grants.each do |grant|
      %tr
        - if current_user.admin?
          - if grant.state == 'import'
            - if Grant.import.count > 0
              %td= grant.grant_identifier
            %td
          - elsif grant.state == 'review'
            - if Grant.import.count > 0
              %td
            %td.selectable.warning= link_to "#{grant.grant_identifier} | #{grant.recipient.name}", edit_grant_path(grant)
        - elsif grant.state == 'review'
          %td.selectable.warning= link_to "#{grant.grant_identifier} | #{grant.recipient.name}", edit_grant_path(grant)
