%table.ui.celled.table
  %thead
    %tr
      %th{ rowspan: 2} Fund slug
      %th{ rowspan: 2} Last Grant
      %th{ colspan: 2} Period
      %th{ colspan: 4} Number of grants in period
      %th{ rowspan: 2} Total grants
    %tr
      %th Start
      %th End
      %th Imported
      %th For review
      %th Approved
      %th Total

  %tbody
    - @funds.each do |fund|

      - @grants = Grant.recent_all(fund)
      - @allgrants = Grant.where(fund_slug: fund)
      - statuses = @grants.group(:state).count

      %tr
        %td.selectable= link_to fund, v1_fund_summary_path(fund), target: '_blank'
        %td
          = time_ago_in_words @allgrants.order(:award_date).last.award_date
          ago
        %td= period_start
        %td= period_end
        %td= statuses['import'] || 0
        %td= statuses['review'] || 0
        %td= statuses['approved'] || 0
        %td= @grants.count
        %td= @allgrants.count

    %tfoot
      %tr
        %th{ colspan: 9 }
          = @funds.count
          Funds
