%table.ui.celled.table
  %thead
    %tr
      %th fund_slug
      %th Last Grant
      %th period_start
      %th period_end
      %th grant_count

  %tbody
    - @funds.each do |fund|

      - @grants = Grant.recent(fund)

      %tr
        %td.selectable= link_to fund, v1_fund_summary_path(fund), target: '_blank'
        %td
          = time_ago_in_words period_end
          ago
        %td= period_start
        %td= period_end
        %td= @grants.count

    %tfoot
      %tr
        %th{ colspan: 5 }
          = @funds.count
          Funds
