!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title BeehiveData
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    -# Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30021098-3', 'auto');
      ga('send', 'pageview');

  %body
    .ui.container
      - if content_for?(:public)
        = yield(:public)
      - else
        - if user_signed_in?
          .ui.secondary.pointing.teal.menu
            = link_to 'Organisations', organisations_path, class: (params[:controller] == 'organisations' ? 'item active' : 'item')
            = link_to 'Grants', grants_path, class: (params[:controller] == 'grants' ? 'item active' : 'item')
            .right.menu
              %a.item{ href: docs_moderators_path, class: (params[:controller] == 'docs' ? 'item active' : 'item') }
                %i.circle.fitted.help.icon
                Help
              = link_to "Logout (#{current_user.first_name})", destroy_user_session_path, method: :delete, class: 'ui item'

        %p= notice
        %p= alert

        = yield
